# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../yeb\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\gaoguanqi\projects\yeb\sys\yeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
